body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;

}

h1 {
    color: forestgreen;
}

footer {
    padding: 16px;
    background-color: #F6CD5A;
    color: #522616;
}

img {
    height: 200px;
    display: grid;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #9AB603;
}

a{
    color: rgb(24, 61, 24);
    text-decoration: none;
    bac
}


.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.readable {
    color: white;
}

tbody tr:nth-child(2n+2){
    background-color: lightgray;
}

a:hover{
    background-color: limegreen;
    border-radius: 6px;
    cursor: pointer;
}

a:active {
    background-color: yellowgreen;
    transition: .5ms;
}
